<VirtualHost *:{{ httpd_port }}>

    ServerName {{ httpd_server }}
    DocumentRoot /var/www/html/default
    DirectoryIndex index.php index.html
    <Directory /var/www/html/default/>
        AllowOverride All
    </Directory>
</VirtualHost>
